.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
