.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.headerArea {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 0px 20px 100px;
  justify-content: center;
  color: #f2a900;
}

.headerArea h1 {
  color: #f2a900;
}

.content {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
}
.content img {
  height: 500px;
  width: 70%;
  padding: 5px;
  justify-content: center;
  margin-left: 0px;
  margin-top: 15px;

  align-items: center;
}
ol {
  margin-left: 20px;
  margin-top: 10px;
}
ol li {
  margin-top: 10px;
  list-style-type: decimal;
}

.content span {
  font-weight: bold;
}
.content p {
  margin-top: 10px;
  text-align: left;
}

@media screen and (max-width: 700px) {
  .headerArea {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .content {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content img {
    height: 300px;
    width: 100%;
    padding: 5px;
  }
  .inner {
    width: 95%;
  }
}
