.dropdown_container{
    position: absolute;   
    top:58px;
    right:5vw;
    width:300px;
    height: fit-content;
    // transform: translateX(-45%);
    background-color: #060b26;
    border-radius:5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.dropdown img.open{
    -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dropdown_container .dropdownItem{
    font-size: 1.2rem;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    color:white;
    display:flex;
    height: 40px;
    align-items: center;
    cursor: pointer;
    // padding: 10px;
}

.dropdownItem:hover{
    background-color:rgba(32,42,68,0.3);
}