.inputBox{
    width: 100%;
    opacity: 0.98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    .label-element-div_input{
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        background-color: #202A44;
        .label.disabled{
            width: 93%;
            font-family: 'Courier New', monospace;
            font-size: .80rem;
            color: white
        }
        .label.enabled{
            width: 93%;
            font-family: 'Courier New', monospace;
            font-size: .95rem;
            color: white
        }
    }
    .input-element-div{
        width: 100%;
        display: flex;
        justify-content: center;
        .enabled{
            font-family: 'Courier New', monospace;
            outline: 0;
            border-width: 0 0 1px;
            border-radius: 10px;
            border-color: rgb(0, 0, 0);
            background-color: white;
            opacity: 1;
            box-shadow: 0 5px 16px rgb(0 0 0 / 50%);
            width: 97%;
        }
        
        .disabled{
            font-family: 'Courier New', monospace;
            outline: 0;
            opacity: 1;
            border-width: 0 0 1px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 5px 16px rgb(0 0 0 / 50%);
            width: 95%;
        }
    }
}