.container {
  margin-top: 50px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.sectionOne {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sectionOne h3 {
  font-size: 2rem;
  color: white;
}

.sectionOne p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

.sectionOne p:hover {
  color: #f2a900;
  transform: scale(1.1);
  transition: all 0.3s;
}

.link {
  color: white;
}

.sectionOne .link:hover {
  color: #f2a900;
  transform: scale(1.1);
  transition: all 0.5s;
}

.timelinesection {
  background-color: #f2a900;
  min-height: 100vh;
  padding: 100px 15px;
}
.timelineitems {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timelineitems::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #333;
  left: calc(50% - 1px);
}
.timelineitem {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timelineitem:last-child {
  margin-bottom: 0;
}
.timelineitem:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timelineitem:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timelinecontent ul li {
  list-style-type: disc;
  margin-top: 5px;
}
.timelinedot {
  height: 16px;
  width: 16px;
  background-color: #f7931a;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timelinedate {
  font-size: 18px;
  color: #f7931a;
  margin: 6px 0 15px;
}
.timelinecontent {
  background-color: #333;
  padding: 30px;
  border-radius: 5px;
}
.timelinecontent h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.timelinecontent ul {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: disc;
}

/* responsive */
@media (max-width: 767px) {
  .timelineitems::before {
    left: 7px;
  }
  .timelineitem:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timelineitem:nth-child(odd),
  .timelineitem:nth-child(even) {
    padding-left: 37px;
  }
  .timelinedot {
    left: 0;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 20px;
  }
  .sectionOne {
    flex-direction: column;
  }
  .sectionOne h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
