.container{
    padding:150px;
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box{
    height: 350px;
    width:350px;
    border:1px solid;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.box img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.box h3{
    color: #F2A900;
}

@media screen and (max-width:700px) {
	.container{
		padding: 10px;
	}
    .inner{
        flex-direction: column;
    }
    .box{
        width: 100%;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}